<a data-turbolinks="false" href="<%= comment_url(comment)%>"><%= comment.content %></a>
<pre>posted by <%= comment.author.username %> at <%= comment.created_at %></pre>
  <ul>
    <% @all_comments.each do |child| %>
      <% if child.parent_comment_id == comment.id %>
        <br>  
        <li><%= render "shared/comment", comment: child %></li>
      <% end %>
    <% end %>
  </ul>