<h1 class="page-header">New Post!</h1>

<form action="<%= posts_url %>" method="POST">
  <%= auth_token %>

  <label for="title">Title:</label>
  <input id="title" type="string" name="post[title]">
  <br>
  <label for="url">URL:</label>
  <input id="url" type="string" name="post[url]">
  <br>
  <label for="content">Content:</label>
  <textarea id="content" name="post[content]"><%= @post.content %></textarea>
  <br>
  <span class="subs-checklist">
    <% Sub.all.each do |sub| %>
      <input type="checkbox" name="post[sub_ids][]" value=<%= sub.id %>>
      <label for="<%= sub.title %>"><%= sub.title %></label>
      <br>
    <% end %>
  </span>

  <input type="submit">
</form>