<h1 class="page-header"><a data-turbolinks="false" href="<%= post_url(@post) %>"><%= @post.title %></a> by <%= @post.author.username %></h1>

<% if @post.content %>
  <b>Content:</b>
  <pre><%= @post.content %></pre>
<% end %>

<b>Subs</b>
<ul class="posts-subs-list">
  <% @post.subs.each do |sub| %>
    <li><a data-turbolinks="false" href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>

<h3>Comments</h3>
<a data-turbolinks="false" href="<%= new_post_comment_url(@post) %>">Comment on this post!</a>
<ul class="post-comments-list">
  <% @all_comments.each do |comment| %>
    <% if comment.parent_comment_id == nil %>
      <br>
      <li><%= render "shared/comment", comment: comment %></li>
    <% end %>
  <% end %>
</ul>

<% if @post.author_id == current_user.id %>
  <a data-turbolinks="false" href="<%= edit_post_url(@post) %>">Edit this post!</a>
<% end %>