<h1 class="page-header"><a data-turbolinks="false" href="<%= post_url(@post) %>"><%= @post.title %></a> by <%= @post.author.username %></h1>

<% if @post.content %>
  <b>Content:</b>
  <pre><%= @post.content %></pre>
<% end %>

<b>Subs</b>
<ul class="posts-subs-list">
  <% @post.subs.each do |sub| %>
    <li><a data-turbolinks="false" href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>

<% if @post.author_id == current_user.id %>
  <a data-turbolinks="false" href="<%= edit_post_url(@post) %>">Edit this post!</a>
<% end %>