<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <% if current_user %>
      <ul class="main-header-user">
        <li><%= current_user.username %></li>
        <li><a data-turbolinks="false" href="<%= new_sub_url %>">Create a sub!</a></li>
        <li><a data-turbolinks="false" href="<%= subs_url %>">All Subs</a></li>
        <li><%= render "shared/logout_button" %></li>
      </ul>
      <% else %>
      <a class="main-header-signin" 
        data-turbolinks="false",
        href="<%= new_session_url %>">Sign in!</a>
      <% end %>
    </header>

    <section class="notices/errors">
      <ul>
        <% if flash[:notices] %>
          <li><%= flash[:notices] %></li>
        <% end %>
        <% if flash[:errors] %>
          <li><%= flash[:errors] %></li>
        <% end %>
      </ul>
    </section>
    <%= yield %>
  </body>
</html>
